* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */


header {
    background-image: url("../img/wall.png");
}

.text-center {
    text-align: center;
    font-family: 'Edu Tas Beginner', sans-serif;
    font-size: 60px;
}

.content {
    padding: 10px;
}

/* main */
body {
    background-image: url("../img/cork.png");
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

main {
    margin-top: 40px;
}

.card {
    background-color: white;

}

.card-img {
    width: 200px;
    padding: 10px;
}

.position-relative {
    position: relative;
}

.card-text {
    padding: 15px;
    font-family: 'Sometype Mono', monospace;
}

.img-fluid {
    width: 100%;
}


.button {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 130px;
    margin-left: 80px;
}


.flex-wrap {
    flex-wrap: wrap;
}

.d-flex {
    display: flex;
}

.h-200 {
    height: 200px;
}
