* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */


header {
    background-image: url("../img/wall.png");
}

.text-center {
    text-align: center;
    font-family: 'Edu Tas Beginner', sans-serif;
    font-size: 60px;
}

.content {
    padding: 10px;
}

/* main */
body {
    background-image: url("../img/cork.png");
}

.container {
    max-width: 700px;
    margin: 0 auto;
}

main {
    margin-top: 40px;
}

.card {
    background-color: white;
}

.card-img {
    width: 190px;
    padding: 10px;
    padding-bottom: 2px;
}

.position-relative {
    position: relative;
}

.card-text {
    padding: 10px;
    font-family: 'Sometype Mono', monospace;
    font-family: 'Edu Tas Beginner', sans-serif;
}

.img-fluid {
    width: 100%;
}


.button {
    width: 20px;
    height: 20px;
    margin-left: 80px;
}
    

.d-flex {
    display: flex;
}

.h-200 {
    height: 150px;
}

.visibility {
    visibility: hidden;
}

.position-absolute {
    position : absolute;
    top : 0px;
}

.flex-wrap {
    flex-wrap: wrap;
}

.gap {
    gap : 10px;
}